<!-- Pago exitoso -->
{% extends 'base.html' %}

{% block title %}NebulaShop - Pago Exitoso{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Pago realizado exitosamente</h4>
                    <p>Gracias por su compra. Su pago ha sido procesado con éxito.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}